<a href="https://colab.research.google.com/github/iamBHK/DiabetesPrediction/blob/main/Diabetes_Prediction_using_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQRp2K84U9vl_vDKZMWfrh8Sx7R628KOJvTKiOMyaS3BP60rrr0XtnxyvWkm7QsNg/pub?output=csv")

In [4]:
file.head()

,Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age,Blood Glucose Level(BGL),Diastolic Blood Pressure,Systolic Blood Pressure,Heart Rate,Body Temperature,SPO2,Sweating (Y/N),Shivering (Y/N),Diabetic/NonDiabetic (D/N)
0,9,79,73,118,98,98.300707,99,0,0,N
1,9,80,73,119,102,98.300707,94,1,0,N
2,9,70,76,110,81,98.300707,98,1,0,N
3,9,70,78,115,96,98.300707,96,1,0,N
4,66,100,96,144,92,97.807052,98,0,0,N

In [5]:
file.describe()

,Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age,Blood Glucose Level(BGL),Diastolic Blood Pressure,Systolic Blood Pressure,Heart Rate,Body Temperature,SPO2,Sweating (Y/N),Shivering (Y/N)
count,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000
mean,30.988862,95.709529,77.173493,118.187165,91.524191,97.356146,97.382403,0.121692,0.145560
std,25.585606,43.001041,7.241511,7.700363,10.409780,0.813555,0.848689,0.326940,0.352674
min,9.000000,50.000000,60.000000,95.000000,78.000000,96.000132,93.000000,0.000000,0.000000
25%,9.000000,68.000000,71.000000,113.000000,84.000000,96.674465,97.000000,0.000000,0.000000
50%,14.000000,83.000000,76.000000,119.000000,89.000000,97.326523,98.000000,0.000000,0.000000
75%,55.000000,108.000000,83.000000,124.000000,95.000000,97.949904,98.000000,0.000000,0.000000
max,77.000000,250.000000,98.000000,145.000000,130.000000,98.999792,99.000000,1.000000,1.000000

In [6]:
file.isna().count()

Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age    16969
Blood Glucose Level(BGL)                                                                              16969
Diastolic Blood Pressure                                                                              16969
Systolic Blood Pressure                                                                               16969
Heart Rate                                                                                            16969
Body Temperature                                                                                      16969
SPO2                                                                                                  16969
Sweating  (Y/N)                                                                                       16969
Shivering (Y/N)                                                                                       16969
Diabetic/NonDiabetic (D/N)                                                                            16969
dtype: int64

In [7]:
file.isnull().sum()

Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age    0
Blood Glucose Level(BGL)                                                                              0
Diastolic Blood Pressure                                                                              0
Systolic Blood Pressure                                                                               0
Heart Rate                                                                                            0
Body Temperature                                                                                      0
SPO2                                                                                                  0
Sweating  (Y/N)                                                                                       0
Shivering (Y/N)                                                                                       0
Diabetic/NonDiabetic (D/N)                                                                            0
dtype: int64

In [8]:
features = file.rename(
    columns = {
        "Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age" : "Age",
        "Blood Glucose Level(BGL)" : "Glucose",
        "Diastolic Blood Pressure" : "Diastolic_BP",
        "Systolic Blood Pressure" : "Systolic_BP",
        "Sweating  (Y/N)" : "Sweating",
        "Shivering (Y/N)" : "Shivering",
        "Diabetic/NonDiabetic (D/N)" : "DiaOrNot"
    }
)

In [9]:
features

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering,DiaOrNot
0,9,79,73,118,98,98.300707,99,0,0,N
1,9,80,73,119,102,98.300707,94,1,0,N
2,9,70,76,110,81,98.300707,98,1,0,N
3,9,70,78,115,96,98.300707,96,1,0,N
4,66,100,96,144,92,97.807052,98,0,0,N
...,...,...,...,...,...,...,...,...,...,...
16964,9,80,87,127,90,96.842657,97,0,0,D
16965,9,71,79,117,80,97.869454,98,0,0,D
16966,9,77,82,116,93,96.766282,98,0,0,D
16967,9,82,86,128,91,98.941036,98,0,0,D
16968,9,83,85,117,79,97.570685,97,0,0,D

In [10]:
features.describe()

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering
count,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000,16969.000000
mean,30.988862,95.709529,77.173493,118.187165,91.524191,97.356146,97.382403,0.121692,0.145560
std,25.585606,43.001041,7.241511,7.700363,10.409780,0.813555,0.848689,0.326940,0.352674
min,9.000000,50.000000,60.000000,95.000000,78.000000,96.000132,93.000000,0.000000,0.000000
25%,9.000000,68.000000,71.000000,113.000000,84.000000,96.674465,97.000000,0.000000,0.000000
50%,14.000000,83.000000,76.000000,119.000000,89.000000,97.326523,98.000000,0.000000,0.000000
75%,55.000000,108.000000,83.000000,124.000000,95.000000,97.949904,98.000000,0.000000,0.000000
max,77.000000,250.000000,98.000000,145.000000,130.000000,98.999792,99.000000,1.000000,1.000000

In [11]:
FeaturesA = features.drop(columns={'DiaOrNot'})

In [12]:
FeaturesA

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering
0,9,79,73,118,98,98.300707,99,0,0
1,9,80,73,119,102,98.300707,94,1,0
2,9,70,76,110,81,98.300707,98,1,0
3,9,70,78,115,96,98.300707,96,1,0
4,66,100,96,144,92,97.807052,98,0,0
...,...,...,...,...,...,...,...,...,...
16964,9,80,87,127,90,96.842657,97,0,0
16965,9,71,79,117,80,97.869454,98,0,0
16966,9,77,82,116,93,96.766282,98,0,0
16967,9,82,86,128,91,98.941036,98,0,0
16968,9,83,85,117,79,97.570685,97,0,0

In [16]:
X = FeaturesA

In [17]:
X

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering
0,9,79,73,118,98,98.300707,99,0,0
1,9,80,73,119,102,98.300707,94,1,0
2,9,70,76,110,81,98.300707,98,1,0
3,9,70,78,115,96,98.300707,96,1,0
4,66,100,96,144,92,97.807052,98,0,0
...,...,...,...,...,...,...,...,...,...
16964,9,80,87,127,90,96.842657,97,0,0
16965,9,71,79,117,80,97.869454,98,0,0
16966,9,77,82,116,93,96.766282,98,0,0
16967,9,82,86,128,91,98.941036,98,0,0
16968,9,83,85,117,79,97.570685,97,0,0

In [18]:
Y = features['DiaOrNot']

In [19]:
Y

0        N
1        N
2        N
3        N
4        N
        ..
16964    D
16965    D
16966    D
16967    D
16968    D
Name: DiaOrNot, Length: 16969, dtype: object

In [20]:
Y.value_counts()

D    16641
N      328
Name: DiaOrNot, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [23]:
X_train

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering
365,46,50,70,96,120,96.666418,98,0,1
15843,76,72,87,123,80,98.011001,97,0,0
14991,9,76,79,110,88,97.766639,97,0,0
3873,9,68,69,117,111,96.587370,97,0,0
1755,14,63,70,102,101,97.999324,96,0,0
...,...,...,...,...,...,...,...,...,...
14809,9,77,87,123,80,98.011001,97,0,0
16307,46,83,72,116,94,96.159331,99,0,0
6845,9,84,72,127,80,98.026499,97,0,0
95,30,85,69,131,104,98.497962,97,1,0
16634,76,76,71,122,83,98.856537,98,0,0

In [24]:
X_test

,Age,Glucose,Diastolic_BP,Systolic_BP,Heart Rate,Body Temperature,SPO2,Sweating,Shivering
13393,46,127,77,118,89,96.120352,98,0,0
15851,76,84,78,117,94,97.030187,98,0,0
14650,9,250,90,117,83,96.984325,98,0,0
4256,9,68,67,127,100,96.650449,97,1,1
13272,76,126,70,111,94,96.570091,98,0,0
...,...,...,...,...,...,...,...,...,...
2807,55,66,66,105,93,97.682043,97,0,1
406,77,50,61,114,92,97.488116,98,0,1
2126,55,64,74,118,90,96.543457,97,0,0
10739,19,109,78,117,80,96.149651,98,0,0
8498,55,94,76,111,80,97.541619,98,0,0

In [25]:
Y_train

365      D
15843    D
14991    D
3873     D
1755     D
        ..
14809    D
16307    D
6845     D
95       N
16634    D
Name: DiaOrNot, Length: 13575, dtype: object

In [26]:
Y_test

13393    D
15851    D
14650    D
4256     D
13272    D
        ..
2807     D
406      D
2126     D
10739    D
8498     D
Name: DiaOrNot, Length: 3394, dtype: object

In [27]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()

In [28]:
scalar = scalar.fit(X)
scalar

StandardScaler()

In [29]:
Trans = scalar.transform(X)
Trans

array([[-0.85944848, -0.38859574, -0.57634595, ...,  1.90605148,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.36533981, -0.57634595, ..., -3.98556343,
         2.68652813, -0.41274275],
       [-0.85944848, -0.59789917, -0.16205559, ...,  0.7277285 ,
         2.68652813, -0.41274275],
       ...,
       [-0.85944848, -0.43510762,  0.66652513, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.31882793,  1.21891228, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.295572  ,  1.08081549, ..., -0.45059449,
        -0.37222763, -0.41274275]])

In [30]:
X = Trans

In [31]:
X

array([[-0.85944848, -0.38859574, -0.57634595, ...,  1.90605148,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.36533981, -0.57634595, ..., -3.98556343,
         2.68652813, -0.41274275],
       [-0.85944848, -0.59789917, -0.16205559, ...,  0.7277285 ,
         2.68652813, -0.41274275],
       ...,
       [-0.85944848, -0.43510762,  0.66652513, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.31882793,  1.21891228, ...,  0.7277285 ,
        -0.37222763, -0.41274275],
       [-0.85944848, -0.295572  ,  1.08081549, ..., -0.45059449,
        -0.37222763, -0.41274275]])

In [32]:
Y

0        N
1        N
2        N
3        N
4        N
        ..
16964    D
16965    D
16966    D
16967    D
16968    D
Name: DiaOrNot, Length: 16969, dtype: object

In [33]:
from sklearn import svm

In [34]:
svm = svm.SVC(kernel = 'linear')

In [35]:
svm.fit(X_train,Y_train)

SVC(kernel='linear')

In [36]:
Predict = svm.predict(X_train)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
Output = accuracy_score(Predict,Y_train)

In [39]:
Output

0.9897605893186003

In [40]:
svm.fit(X_test,Y_test)

SVC(kernel='linear')

In [41]:
Test_Predict = svm.predict(X_test)

In [42]:
Test_Predict

array(['D', 'D', 'D', ..., 'D', 'D', 'D'], dtype=object)

In [43]:
Test_Out = accuracy_score(Test_Predict,Y_test)

In [44]:
Test_Out

0.9882144961697112

In [45]:
Output = "{:.5f}".format(Output*100)
Test_Out = "{:.5f}".format(Test_Out*100)

In [46]:
print("Accuracy score of training set is {a}% & testing data is {b}%" .format(b=Test_Out, a=Output))

Accuracy score of training set is 98.97606% & testing data is 98.82145%

In [60]:
#Steps to check with new data
#1. Get data into Check variable
#2. Convert to array using np.asarray()
#3 Reshape using array.reshape(1,-1)
#4 Transform using scalar.transform(reshape)
#5 Predict(Transform)
#6 See the prediction as O/P

If you wanna give test data via excel file use **CheckingFile**, if you want to give directly use Check
**bold text**

In [62]:
Check = (9,70,76,110,81,98.30070675,98,1,0)

In [63]:
CheckingFile = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRXLQ5geBzdISEVJCAnRN5b6Rx1MrqqqY__f73yVdEmmWoCUYQAk0WLc-jBh1DzZg/pub?output=csv', skiprows=0)

In [64]:
CheckingFile.head()

,Dataset for People for their Blood Glucose Level with their Superficial Body Feature readings. Age,Blood Glucose Level(BGL),Diastolic Blood Pressure,Systolic Blood Pressure,Heart Rate,Body Temperature,SPO2,Sweating (Y/N),Shivering (Y/N)
0,9,79,73,118,98,98.300707,99,0,0
1,9,80,73,119,102,98.300707,94,1,0
2,9,70,76,110,81,98.300707,98,1,0
3,9,70,78,115,96,98.300707,96,1,0
4,66,100,96,144,92,97.807052,98,0,0

In [65]:
Array = np.asarray(CheckingFile)
print(Array)
print(Array.shape)

[[  9.          79.          73.         118.          98.
   98.30070675  99.           0.           0.        ]
 [  9.          80.          73.         119.         102.
   98.30070675  94.           1.           0.        ]
 [  9.          70.          76.         110.          81.
   98.30070675  98.           1.           0.        ]
 [  9.          70.          78.         115.          96.
   98.30070675  96.           1.           0.        ]
 [ 66.         100.          96.         144.          92.
   97.8070521   98.           0.           0.        ]
 [ 66.         100.          72.         133.          89.
   98.35167594  96.           0.           0.        ]
 [ 66.         100.          94.         142.          78.
   97.93940964  96.           0.           0.        ]
 [ 66.         100.          77.         140.          83.
   97.78750171  95.           0.           0.        ]
 [ 66.         100.          79.         144.          87.
   98.28861743  97.           0.           0.        ]
 [  9.          80.          78.         118.          96.
   98.00788955  97.           0.           0.        ]
 [  9.          75.          73.         116.          96.
   98.03693084  98.           0.           0.        ]
 [  9.          82.          76.         113.          84.
   97.53060717  95.           1.           0.        ]
 [  9.          77.          75.         115.          79.
   98.37406569  95.           0.           0.        ]
 [  9.          71.          70.         119.         101.
   98.31585572  99.           1.           0.        ]]
(14, 9)

In [66]:
Reshape = Array.reshape(1,-1)

In [67]:
Reshape

array([[  9.        ,  79.        ,  73.        , 118.        ,
         98.        ,  98.30070675,  99.        ,   0.        ,
          0.        ,   9.        ,  80.        ,  73.        ,
        119.        , 102.        ,  98.30070675,  94.        ,
          1.        ,   0.        ,   9.        ,  70.        ,
         76.        , 110.        ,  81.        ,  98.30070675,
         98.        ,   1.        ,   0.        ,   9.        ,
         70.        ,  78.        , 115.        ,  96.        ,
         98.30070675,  96.        ,   1.        ,   0.        ,
         66.        , 100.        ,  96.        , 144.        ,
         92.        ,  97.8070521 ,  98.        ,   0.        ,
          0.        ,  66.        , 100.        ,  72.        ,
        133.        ,  89.        ,  98.35167594,  96.        ,
          0.        ,   0.        ,  66.        , 100.        ,
         94.        , 142.        ,  78.        ,  97.93940964,
         96.        ,   0.        ,   0.        ,  66.        ,
        100.        ,  77.        , 140.        ,  83.        ,
         97.78750171,  95.        ,   0.        ,   0.        ,
         66.        , 100.        ,  79.        , 144.        ,
         87.        ,  98.28861743,  97.        ,   0.        ,
          0.        ,   9.        ,  80.        ,  78.        ,
        118.        ,  96.        ,  98.00788955,  97.        ,
          0.        ,   0.        ,   9.        ,  75.        ,
         73.        , 116.        ,  96.        ,  98.03693084,
         98.        ,   0.        ,   0.        ,   9.        ,
         82.        ,  76.        , 113.        ,  84.        ,
         97.53060717,  95.        ,   1.        ,   0.        ,
          9.        ,  77.        ,  75.        , 115.        ,
         79.        ,  98.37406569,  95.        ,   0.        ,
          0.        ,   9.        ,  71.        ,  70.        ,
        119.        , 101.        ,  98.31585572,  99.        ,
          1.        ,   0.        ]])

In [68]:
Reshape.shape

(1, 126)

In [69]:
Trans = scalar.transform(Array)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [70]:
Trans

array([[-0.85944848, -0.38859574, -0.57634595, -0.02430669,  0.62210723,
         1.16106333,  1.90605148, -0.37222763, -0.41274275],
       [-0.85944848, -0.36533981, -0.57634595,  0.10556114,  1.00637258,
         1.16106333, -3.98556343,  2.68652813, -0.41274275],
       [-0.85944848, -0.59789917, -0.16205559, -1.06324937, -1.0110205 ,
         1.16106333,  0.7277285 ,  2.68652813, -0.41274275],
       [-0.85944848, -0.59789917,  0.11413798, -0.4139102 ,  0.42997456,
         1.16106333, -1.62891747,  2.68652813, -0.41274275],
       [ 1.36843231,  0.09977892,  2.59988015,  3.35225702,  0.04570921,
         0.55425818,  0.7277285 , -0.37222763, -0.41274275],
       [ 1.36843231,  0.09977892, -0.71444274,  1.92371084, -0.2424898 ,
         1.22371516, -1.62891747, -0.37222763, -0.41274275],
       [ 1.36843231,  0.09977892,  2.32368658,  3.09252135, -1.29921951,
         0.71695337, -1.62891747, -0.37222763, -0.41274275],
       [ 1.36843231,  0.09977892, -0.0239588 ,  2.83278568, -0.81888782,
         0.53022664, -2.80724045, -0.37222763, -0.41274275],
       [ 1.36843231,  0.09977892,  0.25223477,  3.35225702, -0.43462247,
         1.14620302, -0.45059449, -0.37222763, -0.41274275],
       [-0.85944848, -0.36533981,  0.11413798, -0.02430669,  0.42997456,
         0.80112955, -0.45059449, -0.37222763, -0.41274275],
       [-0.85944848, -0.48161949, -0.57634595, -0.28404236,  0.42997456,
         0.83682739,  0.7277285 , -0.37222763, -0.41274275],
       [-0.85944848, -0.31882793, -0.16205559, -0.67364587, -0.72282149,
         0.21444935, -2.80724045,  2.68652813, -0.41274275],
       [-0.85944848, -0.43510762, -0.30015238, -0.4139102 , -1.20315317,
         1.25123686, -2.80724045, -0.37222763, -0.41274275],
       [-0.85944848, -0.57464323, -0.99063631,  0.10556114,  0.91030625,
         1.17968459,  1.90605148,  2.68652813, -0.41274275]])

In [71]:
Out = svm.predict(Trans)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [72]:
print(Out)
print(len(Out))

['D' 'N' 'N' 'N' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'N' 'D' 'N']
14

In [74]:
for i in range(len(Out)):
    if Out[i] == "N":
        print(i+1,"Not a diabetes")
    else:
        print(i+1,"Symptoms looks like diabetes")

1 Symptoms looks like diabetes
2 Not a diabetes
3 Not a diabetes
4 Not a diabetes
5 Symptoms looks like diabetes
6 Symptoms looks like diabetes
7 Symptoms looks like diabetes
8 Symptoms looks like diabetes
9 Symptoms looks like diabetes
10 Symptoms looks like diabetes
11 Symptoms looks like diabetes
12 Not a diabetes
13 Symptoms looks like diabetes
14 Not a diabetes